<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.BDGC" connectionString="Data Source=(localDb)\MSSQLLocalDB;AttachDbFilename=C:\Users\Andres\Documents\GitHub\GC\GC\Presentacion\DatosBD.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>